#log_in {
    width: 100%;
    height: 700px;
    background-image: url(../images/log-in.jpg);

}

#logg {
    width: 400px;
    height: 350px;
    margin-left: 450px;
    margin-top: 150px;
    font-family: cursive;
}

#btn1, #btn2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: forestgreen;
    border-width: 2px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#btn2 {
    border-color: deepskyblue;
}

#btn1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #93F0AA;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#btn1:hover, #btn1:focus, #btn1:active {
    color: #377523;
}

#btn1:hover:before, #btn1:focus:before, #btn1:active:before,
#btn2:hover:before, #btn2:focus:before, #btn2:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#btn2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #86CDD9;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#btn2:hover, #btn2:focus, #btn2:active {
    color: #2D6E8C;
}

