<div class="forM" ng-app="bridgeApp" ng-controller="resumeController">
    <div class="row">
        <p class="contentJoin">
        <h3><b> Career </b></h3></p>
        <p><h4>Want to start your career with Us?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a href="#" style="color:#65941D">JOIN
        US!!</a></b></h4></p>
    </div>

    <div class="row">
        <div class="formAnim col-6" id="formAnim" ng-hide="hideForm">
            <div class="join">


                <form name="browse" ng-app>
                    <div class="form-group" id="name">
                        <input type="text" class="form-control" placeholder="Enter your Name" ng-model="Name" required
                               autofocus>
                        <span class="help-inline" ng-show="submitted && form.Name.$error.required">Required</span>
                    </div>
                    <div class="form-group">
                        <p>
                            <label class="pull-left">Upload your Resume:</label><br>
                            <input id="browse" type="file" name="datafile" size="40" style="color:#f00; background:#ccc"
                                   ng-model="resume" required>
                        </p>
                        <div>
                            <!-- <label class="btn btn-primary" for="my-file-selector">
                            <input id="my-file-selector" class = "form-control" type="file" style="display:none;">
                            Browse
                          </label> -->
                        </div>
                        <div class="form-group" id="msg">
                            <br>
                    <textarea class="form-control" placeholder="Messege">
                    </textarea>

                        </div>
                        <div class="form-group" id="submit">
                            <button type="button" ng-click="ani()" class="flush">
                                <img src="images/send.png" id="send1">
                            </button>

                        </div>

                    </div>
            </div>
        </div>
        <div class="AnimClick col-6" id="AnimClick">
        </div>


        <div class="thank" id="thank" ng-show="thankU">
            <div class="inr" id="inr">
            </div>
        </div>
        <div class="thankClick" id="thankClick" ng-hide="hideThank">
            <br><br><br>
            <h2>{{msg1}}</h2><br>{{msg2}}
        </div>

    </div>



<div class="row" id="blank3">

</div>
</div>


