<div id="log_in" style="padding:0px;">
    <div ng-app="bridgeApp" class="col-md-7 center" style="background-color: #000000;
        color: #FFFFFF;background: rgba(0, 0, 0, 0.3);" id="logg">
        <form name="signin">
            <center>
                <div class="login">
                    <h2 class="form-signin-heading" style="top:4.7em;">Log In</h2>

                    <!--Email-->
                    <div class="form-group" ng-class="{ 'has-error' : signin.email.$invalid }">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" ng-model="email"
                               placeholder="Email address" required autofocus><br>
                        <p ng-show="signin.email.$invalid " class="help-block">Email is not valid!!</p>
                    </div>

                    <!--Password-->
                    <div class="form-group" ng-class="{ 'has-error' : signin.password.$invalid }">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" ng-model="password"
                               placeholder="Password" ng-minlength="8" required><br>
                        <p ng-show="signin.password.$invalid " class="help-block">Password is not valid!!</p>
                    </div>

                    <label class="pull-right">
                        <a href="#"><u>
                            <small>Forgot Password</small>
                        </u></a>
                    </label>

                    <button class="btn btn-lg btn-success btn-block" type="submit" id="btn1" ng-disabled="signin.$invalid">
                        Sign in
                    </button>
                    <button class="btn btn-lg btn-primary btn-block" ui-sref="Register" id="btn2">
                        Sign Up
                    </button>
                </div>
            </center>
        </form>
    </div>
</div>


